$success:blue;
$text-muted: green;
$card-spacer-y: 0.8rem;


@import '../node_modules/bootstrap/scss/bootstrap';
.setTbLayout{
    width: 15%;
    background-color: yellow;
}
.hideIt{
    visibility: hidden;
}
.footerAlignment{
// margin-bottom: 10%;
margin-top: 20%;
margin-right: 5%;
}

.tableCellBorder{
    border: 1px solid blue;
}
.tableBorder{
    border: 2px solid black;
}

.my-header,
.my-footer {
 width: 100%;
}

#card-area {
    display: flex;
    flex-wrap: wrap;
}

#card-area > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.character-card {
    height: auto;
    width: 220px;
    margin: 0;
    position: relative;
    flex: 1;
    // min-width: 8rem;
    // max-width: 12rem;
}

.card-img-caption .character-img {
height: 250px;
width: 200px;
margin: 10px;
z-index: 0;
}

.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .char-title {
   // background: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 10;
    color: white;
}

.character-features {
    width: 200px;
    margin: -10px;
}

.character-features-item {
    font-size: 10px;
}

.character-features-value {
    text-align: right;
}

.filter-badge {
  .close {
    padding-right: $badge-padding-x;
    padding-left: $badge-padding-x;
    margin-right: -$badge-padding-x;
    font-size: inherit;
    color: inherit;
    text-shadow: none;
    
  }
}

// Bootstrap 4 breakpoints & gutter
// $grid-breakpoints: (
//     xs: 0,
//     sm: 576px,
//     md: 768px,
//     lg: 992px,
//     xl: 1200px
// ) !default;

// $grid-gutter-width: 30px !default;

// // number of cards per line for each breakpoint
// $cards-per-line: (
//     xs: 2,
//     sm: 2,
//     md: 4,
//     lg: 4,
//     xl: 4
// );

// @each $name, $breakpoint in $grid-breakpoints {
// 	@media (min-width: $breakpoint) {
// 		#card-area .my-card .character-card{
// 			flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
// 		}
// 	}
// }